.city-form {
    input:invalid {
        border: 1px solid red;
    }

    input:invalid + small:nth-of-type(2){
        display: none;
    }

    input:invalid + small:nth-of-type(1){
        display: none;
    }

    input:invalid + small:nth-of-type(2){
        display: inline;
    }
}